*.DS_Store
*.pyc
*.html
*.docx
*.xlsx
*.mat
*.pickle
*.gz
*.zip

0_CourseAdmin/
0_Profile/
Papers/

Figures/
OriginalFiles/
AdditionalMaterial/
WriteUp/
submission/
data/
.ipynb_checkpoints/

*results*

C3_UnsupervisedLearning/Code/clusters.pdf
P5_Capstone/Code/3Layer32x32Model*
P5_Capstone/Code/4_SVHNExploreProcessFullNumbers.ipynb
